{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}



{% if project %}

<!-- projects section -->
<section class="row justify-content-center">
    <form id="assign_roles" class="container border p-0 my-2 row justify-content-center">
        <h2 class="col-12 text-center" id="project_name">{{project.name}}</h4>
        {% if data.roles %}
        {% for role in data.roles %}
        
        <div class="col-5 mx-1">
            <h4 class="offset-4">{{role}}</h6>
            <div class="form-group row">
                <label class="col-12 col-lg-2">Driver</label>
                <select class="col-10 ml-3 col-lg-7" id="select_{{role}}">
                    {% for user in data.users %}
                    <option value="{{user.id}}">{{user.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="team_list_{{role}}" class="row pr-3">
                <p class="col-12">Team</p>
                    {% for user in data.users %}
                    <div class="form-group col-12 col-lg-6">
                        <input class="col-1" id="{{role}}_{{user.id}}" type="checkbox">
                        <label class="col-1 p-0 text-nowrap" for="{{role}}_{{user.id}}">{{user.name}}</label>
                    </div>
                    {% endfor %}
            </div>
        </div>

        {% endfor %}
        {% endif %}
    </form>
</section>

{% else %}
No current project
{% endif %}

{% endblock %}