{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}



{% if data.current_user %}



<section class="container mb-4" id="submit_project">
    <div class="container">
            <h1 class="py-4 text-center" id="title">Dashboard</h1>
    </div>
        <ul class="container">
            <li>
                <a class="" href="{{ url_for('landing.submit_project') }}">
                <button href="{{ url_for('landing.submit_project') }}" type="submit" class="font-weight-bold text-light btn bg-dark">NEW PROJECT</button>
                </a>
            </li>
        
        </ul>
    </div>
        
    </div>
</section>



<!-- projects section -->    
    <section class="container justify-content-center mb-4"  id="projects">
        <div class="container">
            
            
            <!-- search bar -->
            <div class="mx-auto col-12 my-2 py-0" style="padding-left:0!important; padding-right:0!important;">
                <form class="form-inline" action="/projects/search" method="POST">
                    <label class="sr-only" for="searchBar">Search by project name</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 col-12 col-md-6" id="searchBar" name="searchBar" placeholder="Enter Search">
                    <button type="submit" class="btn btn-primary mb-2 col-12 col-md-auto">Search</button>
                </form>
            </div>

            {% if msg %}
            <span class="btn-alert">{{ msg }}</span>
            {% endif %}
            

            {% if projects %}
        
            <div class="card-columns">
            {% for project in projects %}

                <div class="card">
                    <div class="card-body">
                    <a href="{{ project.link }}"><h3 class="card-title">{{ project.name }}</h3></a>
                    <p class="card-text text-wrap">
                        {% if project.description %}
                        {{ project.description }}
                        
                        {% endif %}
                    </p>
                    <div class="d-flex flex-wrap">
                        <ul>
                            {% if project.contributors %}
                            <h5 class="card-subtitle">Contributors</h5>
                            {% for member in project.contributors %}
                            <a href="/members/{{ member.id }}">
                                <li>{{ member.firstname }} {{ member.lastname }}</li>
                            </a>
                            {% endfor %}
                            {% endif%}
                        </ul>
                        <ul>
                            {% if project.tech %}
                            <h5 class="card-subtitle">Tech Stack</h5>
                            {% for tech in project.tech %}
                            {{tech.type}}: <a href="/{{tech.name}}">{{tech.name}}</a>
                            {% endfor %}
                            {% endif%}
                        </ul>
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>

            </div>
            {% endif %}
        
    </section>


        






{% endif %}

{% endblock %}