<!doctype html>

<html lang="en">
<head>
{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <!-- Hero section -->    
    <section>
        <div class="container">
            <h1 class="my-5">We make stuff here!</h1>
        </div>
    </section>
    <section class=" w-100 bg-holb-red text-light">
        <div class="container">
            <h1>Mission Statement</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>
    <section>
        <div class="container">
            <h1>Who we are</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>
    <section class="w-100 bg-holb-red text-light">
        <div class="container">
            <h1>Benefits</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>

  {% endblock %}