<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Holberton Makers Club</title>
  <meta name="author" content="Holberton Makers Club">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <meta name="viewport" content="width=device-width" initial-scale=1.0">
  <meta charset="UTF-8">
  <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>

</head>

<body>
  <header>
    <h1>Holberton Makers Club</h1>
  </header>
</body>
</html>