{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- projects section -->
<section class="container justify-content-center mb-4" id="projects">
    <div class="container">
            <h1 class="py-4 text-center" id="title">Login</h1>
            The current state of authentication is usable, but not yet entirely secure.<br>Please do not reuse any passwords from other services.
        </div>
    <div class="card col-sm-12 col-md-6 mx-md-auto justify-content-center py-2">
        <!-- Login Form -->
        <form name="login" id="login_form" method="POST" action="{{ url_for('auth.login_form_submit') }}">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="john.jones@email.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="********">
            </div>
            <div class="form-group">
                <input type="submit" value="LOGIN" class="form-control bg-holb-red text-light font-weight-bold" id="submit-btn">
            </div>
            <a href="#" class="form_link" onclick="displayRegister()">Not a member? Register</a>
        </form>

        <!-- Register Form -->
        <form name="register" id="register_form" method="POST" action="/register">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Jane">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Doe">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="jane.doe@email.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="********">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="********">
            </div>
            <div class="form-group">
                <input type="submit" value="REGISTER" class="form-control bg-holb-red text-light font-weight-bold">
            </div>
            
            <a href="#" class="form_link" onclick="displayLogin()">Already a member? Log In</a>
        </form>

    </div>




</section>

<script type="text/javascript">
    function displayRegister(){
        let login_form = document.getElementById('login_form');
        let register_form = document.getElementById('register_form');
        let page_title = document.getElementById('title');
        page_title.innerHTML = "Register";
        login_form.setAttribute('style','height: 0px;');
        register_form.setAttribute('style','height: 100%;');
    }

    function displayLogin() {
        let login_form = document.getElementById('login_form');
        let register_form = document.getElementById('register_form');
        let page_title = document.getElementById('title');
        page_title.innerHTML = "Login";
        login_form.setAttribute('style','height: 100%;');
        register_form.setAttribute('style','height: 0px;');
    }


</script>


{% endblock %}