<!doctype html>

<html lang="en">
<head>
{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<section class="container">
    <div>
        <h1 class="py-4">Members</h1>
    </div>
    <div class="card-columns">
        {% for member in members %}
        <div class="card">
            <div class="card-body">
                <a href="/members/{{ member.id }}">
                    <h4 class="card-title">{{ member.firstname }} {{ member.lastname }}</h4>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">{{ member.title }}</h6>
                <a href="http://{{ member.github }}" class="">
                    <i class="fa fa-github"></i>
                </a>
                </a>
                <a href="http://{{ member.linkedin }}" class="">
                    <i class="fa fa-linkedin"></i>
                </a>
                {% for tech in member.tech %}
                <!-- Going to add tech stacks worked in -->
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</section>
    

  {% endblock %}