<!doctype html>

<html lang="en">
<head>
{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

{% if member %}
    <!-- Member Profile -->
    <section class="container col-sm-10 col-md-8 col-lg-6 mb-4">
        <div class="container text-center py-4">
            <h1>{{ member.firstname }} {{ member.lastname }}</h1>
            <h6 class="card-subtitle text-muted">{{ member.title }}</h6>
            {% for tech in member.tech %}
            <a href="{{ member[tech.name] }}" class="">
                <i class="{{tech.class}}"></i>
            </a>
            {% endfor %}

        </div>

        {% if member.bio %}
        <div class="card-text  card-body">
            <h3>About me</h3>
            <p> {{ member.bio }} </p>
        </div>
        {% endif %}
                
    </section>

    <!-- Member Projects -->
    {% if member.projects %}
    {% set projects = member.projects %}
    <section class="container col-sm-12 col-md-10 col-lg-8">
        <div class="card-deck">
            {% for project in projects %}
            <div class="card">
                <div class="card-body">
                    <a href="{{ project.link }}"><h3 class="card-title">{{ project.name }}</h3></a>
                    <p class="card-text text-wrap">
                        {% if project.description %}
                        {{ project.description }}
                        {% endif %}
                    </p>
                    <div class="d-flex flex-wrap">
                        <ul>
                            {% if project.tech %}
                            {% for tech in project.tech %}
                            <i class="{{ tech.class }}"></i>
                            {% endfor %}
                            {% endif%}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>  
    </section>  
    {% endif %}

{% else %}

    <h3 class="text-center">Member not found</h3>
            
{% endif %}


  {% endblock %}