<!doctype html>

<html lang="en">
<head>
{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

{% if member %}

    <!-- Member Profile -->
    <section class="container">
        <div class="d-flex flex-column w-100 my-0 align-items-center mb-5">  
            <div>
                <h1>{{ member.firstname }} {{ member.lastname }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">{{ member.title }}</h6>
                <p class="card-text">
                    {{ member.bio }}
                </p>
                <a href="{{ member.github }}" class="">
                    <i class="fab fa-github"></i>
                </a>
                <a href="{{ member.linkedin }}" class="">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Member Projects -->
    {% if member.projects %}
    {% set projects = member.projects %}
    <section class="container">
        <div class="card-deck">
            {% for project in projects %}
            <div class="card">
                <div class="card-body">
                    <a href="{{ project.link }}"><h3 class="card-title">{{ project.name }}</h3></a>
                    <p class="card-text text-wrap">
                        {% if project.description %}
                        {{ project.description }}
                        {% endif %}
                    </p>
                    <div class="d-flex flex-wrap">
                        <ul>
                            {% if project.tech %}
                            {% for tech in project.tech %}
                            <i class="{{ tech.class }}"></i>
                            {% endfor %}
                            {% endif%}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>  
    </section>  
    {% endif %}

{% else %}

    <h3 class="text-center">Member not found</h3>
            
{% endif %}


  {% endblock %}